<body>
<div class="container">
  <div class="col s6">
    <div class="card-panel white z-depth-5">
<h1>Your Details</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

</div>
</div>
</div>
</body>
