<h3>
  My Pending Orders:
</h3>

<ul>
  <% @orders.each do |order| %>
  <div class="row">
    <li>
      <%= order.item_description  %>
      <a class="waves-effect waves-light btn red right" href="/">Decline</a>
      <a class="waves-effect waves-light btn light-blue lighten-2 right" href="/">Accept</a>
    </li>
  </div>
  <% end %>
</ul>
