// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "materialize";


body.session.new {
   background: image-url('cityBackdrop.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
}
